In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('titanic.csv')

In [51]:
total = len(df)
total_c = len(df[(df['Embarked'] == 'C')])
total_females = len(df[df['Sex'] == 'female'])
female_c = len(df[(df['Embarked'] == 'C') & (df['Sex'] == 'female')])
pd.crosstab(df['Sex'], df['Embarked'])

Embarked   C   Q    S
Sex
female    73  36  203
male      95  41  441

In [52]:
total_c/total * 100

18.855218855218855

In [53]:
female_c/total_females * 100

23.248407643312103

In [57]:
df[(df['Sex'] == 'male') & (df['Survived'] == 1)].mean()

PassengerId    475.724771
Survived         1.000000
Pclass           2.018349
Age             27.276022
SibSp            0.385321
Parch            0.357798
Fare            40.821484
dtype: float64